<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/tipoActividades.css">
</head>

<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>


</div>


<!--INFO ACTIVIDADES Y PARA QUE SIRVEN -->

<div class="grid-container">

    <div class="grid-100 actividad">

        <div class="grid-33 actividadTexto">

            <h1>
                ACTIVIDADES MENTALES.
            </h1>

            <p>
                Una técnica de relajación (Estiramientos y ejercicios de relajación, etc) es cualquier método,
                procedimiento o actividad que ayudan a una
                persona a reducir su tensión física y/o mental. Generalmente permite que el individuo alcance un mayor
                nivel de calma, reduciendo sus niveles
                de estrés, ansiedad o ira e incrementando su nivel de relajación , tranquilidad y alegría . Las técnicas
                de relajación a menudo emplean técnicas
                propias y de los programas de control del estrés y están vinculadas con la psicoterapia, la medicina
                psicosomática y el desarrollo personal.
                La relajación de la tensión muscular, el descenso de la presión arterial y una disminución del ritmo
                cardíaco y de la frecuencia respiratoria
                son algunos de sus beneficios en la salud. Sin embargo, no se dispone de evidencia científica que apoye
                la eficacia de algunos métodos.
            </p>

        </div>


        <!--LISTA BOTONES DE ACTIVIDADES 1 -->

        <div class="grid-33">
            <a href="/yoga">
                <div class="boton">
                    <button type="button" value="Actividad 1" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>YOGA</b>
                        <p>El yoga es una disciplina tradicional espiritual, física y mental. Enfatiza la meditación y
                            la liberación.</p>
                    </button>
                </div>
            </a>

            <a href="/meditacion">
                <div class="boton">
                    <button type="button" value="Actividad 1" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>MEDITACIÓN</b>
                        <p>La meditación es una práctica en la cual el individuo entrena la mente o induce un modo de
                            consciencia.</p>
                    </button>
                </div>
            </a>

            <a href="/respiracion">
                <div class="boton">
                    <button type="button" value="Actividad 1" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>RESPIRACIÓN</b>
                        <p>Las técnicas de respiración que ayudan a la relajación y la meditación.</p>
                    </button>
                </div>
            </a>

        </div>

        <!--LISTA BOTONES DE ACTIVIDADES 2 -->

        <div class="grid-33">
            <a href="/sudokus">
                <div class="boton">
                    <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>SUDOKUS</b>
                        <p>Es un juego matemático cuyo objetivo es rellenar una cuadrícula de 9 x 9 .</p>
                    </button>
                </div>
            </a>

            <a href="/puzzles">
                <div class="boton">
                    <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>PUZZLES</b>
                        <p>Es un juego cuyo objetivo es formar una figura combinando correctamente las partes de esta,
                            que se encuentran en distintos pedazos o piezas planas.</p>
                    </button>
                </div>
            </a>

            <a href="/lectura">
                <div class="boton">
                    <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>LECTURA</b>
                        <p>La lectura es el proceso de comprensión de algún tipo de información o ideas almacenada.</p>
                    </button>
                </div>
            </a>

        </div>


    </div>
</div>

</body>

</html>