<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/tipoActividades.css">
</head>

<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>


</div>


<!--INFO ACTIVIDADES Y PARA QUE SIRVEN -->

<div class="grid-container">

    <div class="grid-100 actividad">

        <div class="grid-33 actividadTexto">

            <h1>
                ACTIVIDADES RECREATIVAS.
            </h1>

            <p>
                Las actividades recreativas, de este modo, son aquellas acciones que permiten que una persona se
                entretenga o se divierta.
                Se trata de actividades que un individuo no realiza por obligación, sino que las lleva a cabo porque le
                generan placer.
                Los pasatiempos pueden considerarse como actividades recreativas. Cuando una persona decide realizar un
                crucigrama, completar un
                rompecabezas o utilizar una consola de videojuegos, está buscando recreación.
                Un hobby, como la filatelia o el aeromodelismo, también forma parte de las actividades recreativas ya
                que permite al individuo
                relajarse y dejar de lado las presiones y las obligaciones de la vida cotidiana. Así se distiende y
                minimiza su nivel de estrés.
                En el caso de los deportes, podrían considerarse como actividades recreativas cuando se desarrollan como
                método de esparcimiento.
            </p>


        </div>


        <!--LISTA BOTONES DE ACTIVIDADES 1 -->

        <div class="grid-33">
            <a href="/bailar">
                <div class="boton">
                    <button type="button" value="Actividad 1" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>IR A BAILAR</b>
                        <p>La danza o el baile es un arte donde se utiliza el movimiento corporal, generalmente con
                            música,
                            como una forma de expresión y de interacción social con fines de entretenimiento, artísticos
                            y reproductivos.</p>
                    </button>
                </div>
            </a>

            <a href="/asado">
                <div class="boton">
                    <button type="button" value="Actividad 1" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>COMER UN ASADO CON AMIGOS</b>
                        <p>La parrillada también llamada asado, churrasco, barbacoa o torrada es un método para cocinar
                            carnes de diferentes animales,
                            principalmente de bovino, pollo o cerdo, mediante el calor del fuego.</p>
                    </button>
                </div>
            </a>

            <a href="/rambla">
                <div class="boton">
                    <button type="button" value="Actividad 1" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>CAMINAR POR LA RAMBLA</b>
                        <p>Caminar por la rambla aporta tanto el beneficio de caminar como el ya comprobado beneficio de
                            la cercanía al mar y sus sonidos</p>
                    </button>
                </div>
            </a>

        </div>

        <!--LISTA BOTONES DE ACTIVIDADES 2 -->

        <div class="grid-33">
            <a href="/shopping">
                <div class="boton">
                    <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>SHOPPING</b>
                        <p>Ir de tiendas es uno de los entretenimientos modernos.</p>
                    </button>
                </div>
            </a>

            <a href="/cine">
                <div class="boton">
                    <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>CINE</b>
                        <p>A pesar de las amplias posibilidades del mundo moderno para ver cine en casa, nada se compara
                            con la pantalla grande y el sonido inmersivo de la sala de cine.</p>
                    </button>
                </div>
            </a>

            <a href="/picnic">
                <div class="boton">
                    <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                        <b>PICNIC</b>
                        <p>Comida o refrigerio que se toma en exteriores como parques.</p>
                    </button>
                </div>
            </a>

        </div>


    </div>
</div>

</body>

</html>