<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/actividadesSeleccionada.css">
</head>

<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>


</div>


<!--INFO ACTIVIDADES Y PARA QUE SIRVEN -->

<div class="grid-container">

    <div class="grid-100">

        <div class="grid-40 lista">

            <h1>
                BENEFICIOS DE VER CINE
            </h1>

            <ul class="listaCine">
                <li>El cine también permite además practicar otros idiomas, proporciona cultura general y las películas
                    de miedo hasta ayudan a quemar calorías y mejoran la respuesta del sistema nervioso
                    Relaja y reduce el estrés. ...
                    Ayuda a ver mejor los problemas. ...
                    Permite hacer catarsis. ...
                    Desarrolla la creatividad.
                </li>

            </ul>


        </div>

        <!--LISTA BOTONES DE ACTIVIDADES 1 -->

        <div class="grid-60">

            <img class="cine" src="../static/imagenes/cine.png" alt="Familia viendo cine.">


        </div>


    </div>
</div>

</body>

</html>