<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/infoEnfermedades.css">
</head>

<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>


</div>


<!--LISTA ENFERMEDADES -->

<div class="grid-container">

    <div class="grid-100">

        <div class="grid-40 enfermedadesImg">

            <a href="/enfermedades">

                <button class="botonEnfermedad1" type="button" value="Actividad 1"
                        class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                    <b>Información sobre enfermedades</b>
                </button>

            </a>

            <img class="Depresion" src="../static/imagenes/depresion.png" alt="Depresion">


        </div>


        <div class="grid-60 enfermedadesImg2">

            <b>Trastorno depresivo</b>

            <p>

                La depresión es el diagnóstico psiquiátrico y psicológico que describe un trastorno del estado de ánimo,
                transitorio
                o permanente, caracterizado por sentimientos de abatimiento, infelicidad y culpabilidad, además de
                provocar una incapacidad total o parcial para disfrutar de las cosas y de los acontecimientos de
                la vida cotidiana (la anhedonia). Los trastornos depresivos pueden estar, en mayor o menor grado,
                acompañados de ansiedad. El término médico hace referencia a un síndrome o conjunto de síntomas que
                afectan principalmente a la esfera afectiva: como es la tristeza constante, decaimiento, irritabilidad,
                sensación de malestar, impotencia, frustración a la vida y puede disminuir el rendimiento en
                el trabajo o limitar la actividad vital habitual, independientemente de que su causa sea conocida o
                desconocida. Aunque ese es el núcleo principal de síntomas, la depresión también puede expresarse
                a través de afecciones de tipo cognitivo, volitivo o incluso somático. En la mayor parte de los casos,
                el diagnóstico es clínico, aunque debe diferenciarse de cuadros de expresión parecida, como los
                trastornos de ansiedad. La persona aquejada de depresión puede no vivenciar tristeza, sino pérdida de
                interés e incapacidad para disfrutar las actividades lúdicas habituales, así como una vivencia
                poco motivadora y más lenta del transcurso del tiempo.
            </p>


        </div>

    </div>
</div>

</body>

</html>