<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/enfermedades.css">
</head>

<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>


</div>


<!--LISTA ENFERMEDADES -->

<div class="grid-container">

    <div class="grid-100 enfermedades">

        <div class="grid-50">
            <a href="/trastornoNeurodesarrollo">

                <button class="botonEnfermedad1" type="button" value="Actividad 1"
                        class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                    <b>Trastornos del neurodesarrollo</b>
                </button>

            </a>

            <a href="/esquizofreniaYpsicoticos">

                <button class="botonEnfermedad2" type="button" value="Actividad 1"
                        class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                    <b>Espectro de la esquizofrenia y otros trastornos psicóticos</b>
                </button>

            </a>

            <a href="/bipolar">

                <button class="botonEnfermedad3" type="button" value="Actividad 1"
                        class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                    <b>Trastorno bipolar y trastornos relacionados</b>
                </button>

            </a>

        </div>


        <div class="grid-50">
            <a href="/depresion">

                <button class="botonEnfermedad1" type="button" value="Actividad 1"
                        class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                    <b>Trastornos depresivos</b>
                </button>

            </a>

            <a href="/ansiedad">

                <button class="botonEnfermedad2" type="button" value="Actividad 1"
                        class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                    <b>Trastornos de ansiedad</b>
                </button>

            </a>

            <a href="/obsesivoCompulsivo">

                <button class="botonEnfermedad3" type="button" value="Actividad 1"
                        class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                    <b>Trastorno obsesivo compulsivo y trastornos relacionados</b>
                </button>

            </a>
        </div>


    </div>
</div>

</body>

</html>