<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/espacioPersonal.css">
</head>
<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>

</div>


<!--BOTONES CRUD -->

<div class="grid-container">

    <div class="grid-100 ">

        <!--LISTA BOTONES DE CREATE-->

        <div class="grid-25 crud1">

            <h3>CREAR</h3>

            <a href="/crear_actividad">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad1">
                    <b>CREAR ACTIVIDADES</b>

                </button>
            </a>

            <a href="/crear_rol">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad1">
                    <b>CREAR ROL</b>

                </button>
            </a>

            <a href="/crear_tarjeta_de_humor">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad1">
                    <b>CREAR TARJETA DE HUMOR</b>

                </button>
            </a>


        </div>

        <!--LISTA BOTONES DE READ -->

        <div class="grid-25 crud2">

            <h3>LEER</h3>

            <a href="/leer_usuarios">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad3">
                    <b>LEER USUARIO</b>

                </button>
            </a>

            <a href="/leer_actividades">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad3">
                    <b>LEER ACTIVIDAD</b>

                </button>
            </a>

            <a href="/leer_roles">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad3">
                    <b>LEER ROLES</b>

                </button>
            </a>

            <a href="/leer_tarjetas_de_humor">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad3">
                    <b>LEER TARJETAS</b>

                </button>
            </a>


        </div>


        <!--LISTA BOTONES DE UPDATE -->

        <div class="grid-25 crud3">

            <h3>MODIFICAR</h3>

            <a href="/modificar_usuario">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad2">
                    <b>MODIFICAR USUARIO</b>

                </button>
            </a>

            <a href="/modificar_actividad">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad2">
                    <b>MODIFICAR ACTIVIDAD</b>

                </button>
            </a>

            <a href="/modificar_rol">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad2">
                    <b>MODIFICAR ROL</b>

                </button>
            </a>

            <a href="/modificar_tarjeta_de_humor">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad2">
                    <b>MODIFICAR TARJETA DE HUMOR</b>

                </button>
            </a>


        </div>

        <!--LISTA BOTONES DE DELETE -->

        <div class="grid-25 crud4">

            <h3>BORRAR</h3>

            <a href="/borrar_registro">
                <button type="button" class="btnSiguiente btnSiguiente-primary btnSiguiente-lg actividad4">
                    <b>BORRAR REGISTRO</b>

                </button>
            </a>

        </div>

    </div>

</div>


</body>
</html>