<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/infoEnfermedades.css">
</head>

<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>


</div>


<!--LISTA ENFERMEDADES -->

<div class="grid-container">

    <div class="grid-100">

        <div class="grid-40 enfermedadesImg">

            <a href="/enfermedades">

                <button class="botonEnfermedad1" type="button" value="Actividad 1"
                        class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                    <b>Información sobre enfermedades</b>
                </button>

            </a>

            <img class="esquizofrenia" src="../static/imagenes/esquizofrenia.png" alt="esquizofrenia">


        </div>


        <div class="grid-60 enfermedadesImg2">

            <b>Trastorno esquizofrénico y psicótico</b>

            <p>
                La esquizofrenia es un diagnóstico psiquiátrico que abarca un amplio grupo de trastornos mentales
                crónicos y graves, caracterizado a menudo por conductas que resultan anómalas para la comunidad
                y una percepción alterada de la realidad.1​ La esquizofrenia causa además alteraciones en varios
                aspectos del funcionamiento psíquico del individuo, principalmente de la consciencia de realidad,
                y una desorganización neuropsicológica más o menos compleja, en especial de las funciones ejecutivas,
                que lleva a una dificultad para mantener conductas motivadas y dirigidas a metas, y una
                significativa disfunción social. Entre los síntomas frecuentes, están las creencias delirantes,
                pensamiento confuso, alucinaciones auditivas, reducción de las actividades sociales y/o aislamiento.
                Los síntomas de la esquizofrenia suelen comenzar en adultos jóvenes y aproximadamente el 1 % de la
                población se ve afectada. Una persona con esquizofrenia, por lo general, muestra un lenguaje
                y pensamientos desorganizados, delirios, alucinaciones, trastornos afectivos y conducta inadecuada.
            </p>


        </div>

    </div>
</div>

</body>

</html>