<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/iniciarSesion.css">
</head>

<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>

</div>

<!--FORMULARIO -->

<div class="grid-container" style="background-color:rgba(255, 0, 255, 0);">

    <div class="grid-100">

        <div class="grid-50 formulario">

            <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">


            <form action="" method="post" autocomplete="off">

                <div class="form-group">
                    <label>E-mail:<span>*</span>
                        <div class="form-field">
                            <input type="email" id="login" name="login" value="{{request.form.login }}"
                                   placeholder="Correo electronico" size="40" class="form-control" required="">
                        </div>
                    </label>
                </div>

                <div class="form-group">
                    <label>Contraseña: <span>*</span></label>
                    <div class="form-field">
                        <input type="password" id="password" name="password" value="{{request.form.password }}"
                               placeholder="Contraseña" size="40" class="form-control" required="">
                    </div>

                </div>


                <br>


                <!--BOTON -->


                <div class="form-group">
                    <div>
                        <input type="submit" value="Iniciar sesión"
                               class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">

                    </div>
                </div>

            </form>
            {% if error %}
            <p><strong>Error:</strong> {{ error }}</p>
            {% endif %}

        </div>

        <!--IMAGEN FORMULARIO -->

        <div class="grid-50 imagenFormulario " style="background-color:rgba(0, 128, 0, 0);">


            <div>
                <img class="ilu_1" src="../static/imagenes/ilu_1.svg" alt="Muchacha en calma y sonriendo.">
            </div>


        </div>

    </div>
</div>

</body>

</html>