<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/infoEnfermedades.css">
</head>

<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>


</div>


<!--LISTA ENFERMEDADES -->

<div class="grid-container">

    <div class="grid-100">

        <div class="grid-40 enfermedadesImg">

            <a href="/enfermedades">

                <button class="botonEnfermedad1" type="button" value="Actividad 1"
                        class="btnSiguiente btnSiguiente-primary btnSiguiente-lg">
                    <b>Información sobre enfermedades</b>
                </button>

            </a>

            <img class="Obsesivo" src="../static/imagenes/obsesivo.png" alt="Obsesivo">


        </div>


        <div class="grid-60 enfermedadesImg2">

            <b>Trastorno obsesivo compulsivo</b>

            <p>
                El trastorno obsesivo-compulsivo (o TOC) es un trastorno de ansiedad, caracterizado por pensamientos
                intrusivos, recurrentes y persistentes, que producen inquietud, aprensión, temor o preocupación,
                y conductas repetitivas denominadas compulsiones, dirigidas a reducir la ansiedad asociada. Los síntomas
                y la importancia que implica el TOC pueden presentarse a cualquier edad, pudiendo producir
                una importante discapacidad. Diversos estudios científicos demuestran que los pacientes que sufren un
                TOC tienen una calidad de vida muy baja, ya que esta condición puede ser mental y físicamente
                agotadora, y en sí misma ser causa de incapacidad laboral temporal o permanente. Las obsesiones comunes
                incluyen miedo a contaminarse, miedo de que la persona o los demás están en peligro,
                necesidad de mantener el orden y la exactitud y dudas excesivas. Las compulsiones más comunes que se
                realizan en respuesta ritualista a estas obsesiones incluyen lavarse las manos, contar, acumular
                y arreglar cosas.
            </p>


        </div>

    </div>
</div>

</body>

</html>