<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cuenta Conmigo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sobreCuentaConmigo.css">
</head>

<body>

<!--NAVEGADOR -->

<div class="grid-container">
    <div class="grid-100 fondo-navegador">
        <nav class="grid-menu">
            <ul>
                <li class="fullWidth">
                    <a href="/index">
                        <img class="logo" src="../static/imagenes/logo.svg" alt="Logo de Cuenta Conmigo.">
                    </a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/espacioPersonal">ESPACIO <br> PERSONAL</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/actividades">ACTIVIDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/enfermedades">INFORMACIÓN SOBRE <br> ENFERMEDADES</a>
                </li>

                <li class="li">
                    <a class="navbarlinks" href="/sobreCuentaConmigo">SOBRE <br>CUENTA CONMIGO</a>
                </li>

                <li class="li">
                    <a href="/crear_usuario">
                        <img class="icono" src="../static/imagenes/iconoUsuario48px.svg" alt="Icono usuario.">
                    </a>
                </li>

            </ul>

        </nav>

    </div>

</div>

<div class="grid-container">

    <div class="grid-100 nosotros">

        <h1>CUENTA CONMIGO</h1>
        <br>

        <p>
            "Cuenta Conmigo" es una plataforma virtual enfocada en la salud del usuario, pero principalmente dirigido a
            lo que es la salud mental.
        </p>

        <p>
            Este proyecto surge debido a la necesidad de brindar ayuda a personas con diferentes trastornos mentales en
            el Uruguay; Uruguay sufre de uno de los indices
            mas altos de suicidios en la region debido a la falta asistencia psicologica; de a poco se va instaurando
            mas y mas el hablar en el dia a dia de salud mental,
            pero igualmente queda un gran camino por recorrer; es por eso que decidimos enfocarnos en una tematica tan
            importante,
            y buscar formas de poder encarar el tema con respeto y de ver formas nuevas de ayudar.
        </p>
        <p>
            En resumidas palabras "Cuenta Conmigo" servira para mejorar tanto la salud mental y
            física (con prioridad en lo mental) en momentos de necesidad y que a su vez puedan llevar un registro de su
            bienestar.
        </p>

        <h2>LOGO: que representa la ayuda y apoyo.</h2>

        <img src="../static/imagenes/logo.svg" alt="Logo de cuenta conmigo">

        <h2>CREACIÓN de PERSONAS</h2>

        <img src="../static/imagenes/persona1.png" alt="Imagen de investigacion">

        <img src="../static/imagenes/persona2.png" alt="Imagen de investigacion">

        <h2>FODA</h2>

        <img src="../static/imagenes/foda.png" alt="Imagen de investigacion">

    </div>
</div>

</body>

</html>